
<form name="predresults" method="POST" action="{{ url_for('use') }}">
  <h1><center>Cell 2 Cell Churn Predictions for new data</center></h1><br><br>
            <table border="1">
<!--The names below are displayed as table headers/labels-->
                <tr>
                    <th>Customer:</th>
                    <th>Prediction Made:</th>
                </tr>
<!--The names below have to match the new_df column names exactly-->
            {% for index, row in data.iterrows() %}
                <tr>
                        <td>{{ row['customer'] | int }}</td>
                        <td>{{ row['Prediction'] }}</td>
                </tr>
            {% endfor %}
            </table>
        <br>
	<label>Use the trained Model:</label>
   <input type="submit" value="Use Model">
</form>
